:root {
    --primary-border-color : #cdcdcd;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 340px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--primary-border-color);
    padding: 1rem 0 1rem 0;
}
